In [1]:
import pandas as pd
import requests
from io import StringIO

LOCAL = 'http://localhost:5000'
PROD = 'https://tabular.genesapi.org'

# for nice DataFrame display in this notebook:
def get_df(url, query):
    url = '%s/%s' % (url, query)
    print(url)
    res = requests.get(url)
    csv = StringIO(res.text)
    df = pd.read_csv(csv, dtype={
        'region_id': str,
        'year': str
    })
    df.index = df[df.columns[0]]
    del df[df.columns[0]]
    return df.fillna('')

def test(query):
    local = get_df(LOCAL, query).head()
    prod = get_df(PROD, query).head()
    print('Identical shape: ', local.shape == prod.shape)
    #print(local)
    #print(prod)
    print('columns:\n', pd.DataFrame({'local': local.columns, 'prod': prod.columns}))
    return local
    try:
        return local == prod
    except Exception as e:
        return e

In [2]:
test('?data=11111:FLC006')

http://localhost:5000/?data=11111:FLC006
https://tabular.genesapi.org/?data=11111:FLC006
Identical shape:  True
columns:
        local       prod
0       year       year
1    measure    measure
2      value      value
3  statistic  statistic

           year measure     value  statistic
region_id
01         1995  FLC006  15770.27      11111
02         1995  FLC006    755.33      11111
03         1995  FLC006  47610.55      11111
04         1995  FLC006    404.23      11111
05         1995  FLC006  34077.64      11111

In [3]:
test('?data=11111:FLC006&level=3&parent=12&layout=region')

http://localhost:5000/?data=11111:FLC006&level=3&parent=12&layout=region
https://tabular.genesapi.org/?data=11111:FLC006&level=3&parent=12&layout=region
Identical shape:  True
columns:
                      local                    prod
0   11111.FLC006-year:1995  11111.FLC006-year:1995
1   11111.FLC006-year:1996  11111.FLC006-year:1996
2   11111.FLC006-year:1997  11111.FLC006-year:1997
3   11111.FLC006-year:1998  11111.FLC006-year:1998
4   11111.FLC006-year:1999  11111.FLC006-year:1999
5   11111.FLC006-year:2000  11111.FLC006-year:2000
6   11111.FLC006-year:2001  11111.FLC006-year:2001
7   11111.FLC006-year:2002  11111.FLC006-year:2002
8   11111.FLC006-year:2003  11111.FLC006-year:2003
9   11111.FLC006-year:2004  11111.FLC006-year:2004
10  11111.FLC006-year:2005  11111.FLC006-year:2005
11  11111.FLC006-year:2006  11111.FLC006-year:2006
12  11111.FLC006-year:2007  11111.FLC006-year:2007
13  11111.FLC006-year:2008  11111.FLC006-year:2008
14  11111.FLC006-year:2009  11111.FLC006-year:2009
15  11111.FLC006-year:2010  11111.FLC006-year:2010
16  11111.FLC006-year:2011  11111.FLC006-year:2011
17  11111.FLC006-year:2012  11111.FLC006-year:2012
18  11111.FLC006-year:2013  11111.FLC006-year:2013
19  11111.FLC006-year:2014  11111.FLC006-year:2014
20  11111.FLC006-year:2015  11111.FLC006-year:2015
21  11111.FLC006-year:2016  11111.FLC006-year:2016
22  11111.FLC006-year:2017  11111.FLC006-year:2017

,11111.FLC006-year:1995,11111.FLC006-year:1996,11111.FLC006-year:1997,11111.FLC006-year:1998,11111.FLC006-year:1999,11111.FLC006-year:2000,11111.FLC006-year:2001,11111.FLC006-year:2002,11111.FLC006-year:2003,11111.FLC006-year:2004,...,11111.FLC006-year:2008,11111.FLC006-year:2009,11111.FLC006-year:2010,11111.FLC006-year:2011,11111.FLC006-year:2012,11111.FLC006-year:2013,11111.FLC006-year:2014,11111.FLC006-year:2015,11111.FLC006-year:2016,11111.FLC006-year:2017
region_id,,,,,,,,,,,,,,,,,,,,,
12051,208.32,207.88,207.88,207.89,207.91,207.98,207.99,207.99,228.77,228.77,...,228.81,228.82,228.82,228.85,228.84,229.71,229.71,229.72,229.72,229.72
12052,150.32,150.33,150.34,150.33,150.36,150.36,150.38,150.38,164.23,164.28,...,164.28,164.28,164.29,164.29,164.29,165.15,165.15,165.16,165.62,165.63
12053,147.63,147.63,147.63,147.63,147.63,147.60,147.60,147.60,147.61,147.62,...,147.78,147.81,147.81,147.81,147.64,147.85,147.85,147.85,147.85,147.85
12054,109.35,109.33,109.34,109.35,109.37,109.38,109.39,109.35,187.29,187.27,...,187.37,187.38,187.53,187.52,187.66,188.25,188.25,188.26,188.26,188.26
12060,1494.28,1494.28,1494.30,1494.32,1494.34,1494.32,1494.34,1494.31,1494.32,1494.31,...,1492.85,1471.64,1471.55,1471.57,1471.55,1479.69,1479.68,1479.68,1479.67,1479.59

In [4]:
test('?data=11111:FLC006&region=10,12,13&layout=time')

http://localhost:5000/?data=11111:FLC006&region=10,12,13&layout=time
https://tabular.genesapi.org/?data=11111:FLC006&region=10,12,13&layout=time
Identical shape:  True
columns:
                        local                       prod
0  11111.FLC006-region_id:10  11111.FLC006-region_id:10
1  11111.FLC006-region_id:12  11111.FLC006-region_id:12
2  11111.FLC006-region_id:13  11111.FLC006-region_id:13

,11111.FLC006-region_id:10,11111.FLC006-region_id:12,11111.FLC006-region_id:13
year,,,
1995,2570.15,29478.67,23170.29
1996,2570.15,29475.81,23170.12
1997,2570.10,29476.01,23170.17
1998,2570.19,29476.45,23170.94
1999,2570.14,29476.75,23171.41

In [5]:
test('?data=11111:FLC006&level=3&layout=region')

http://localhost:5000/?data=11111:FLC006&level=3&layout=region
https://tabular.genesapi.org/?data=11111:FLC006&level=3&layout=region
Identical shape:  True
columns:
                      local                    prod
0   11111.FLC006-year:1995  11111.FLC006-year:1995
1   11111.FLC006-year:1996  11111.FLC006-year:1996
2   11111.FLC006-year:1997  11111.FLC006-year:1997
3   11111.FLC006-year:1998  11111.FLC006-year:1998
4   11111.FLC006-year:1999  11111.FLC006-year:1999
5   11111.FLC006-year:2000  11111.FLC006-year:2000
6   11111.FLC006-year:2001  11111.FLC006-year:2001
7   11111.FLC006-year:2002  11111.FLC006-year:2002
8   11111.FLC006-year:2003  11111.FLC006-year:2003
9   11111.FLC006-year:2004  11111.FLC006-year:2004
10  11111.FLC006-year:2005  11111.FLC006-year:2005
11  11111.FLC006-year:2006  11111.FLC006-year:2006
12  11111.FLC006-year:2007  11111.FLC006-year:2007
13  11111.FLC006-year:2008  11111.FLC006-year:2008
14  11111.FLC006-year:2009  11111.FLC006-year:2009
15  11111.FLC006-year:2010  11111.FLC006-year:2010
16  11111.FLC006-year:2011  11111.FLC006-year:2011
17  11111.FLC006-year:2012  11111.FLC006-year:2012
18  11111.FLC006-year:2013  11111.FLC006-year:2013
19  11111.FLC006-year:2014  11111.FLC006-year:2014
20  11111.FLC006-year:2015  11111.FLC006-year:2015
21  11111.FLC006-year:2016  11111.FLC006-year:2016
22  11111.FLC006-year:2017  11111.FLC006-year:2017

,11111.FLC006-year:1995,11111.FLC006-year:1996,11111.FLC006-year:1997,11111.FLC006-year:1998,11111.FLC006-year:1999,11111.FLC006-year:2000,11111.FLC006-year:2001,11111.FLC006-year:2002,11111.FLC006-year:2003,11111.FLC006-year:2004,...,11111.FLC006-year:2008,11111.FLC006-year:2009,11111.FLC006-year:2010,11111.FLC006-year:2011,11111.FLC006-year:2012,11111.FLC006-year:2013,11111.FLC006-year:2014,11111.FLC006-year:2015,11111.FLC006-year:2016,11111.FLC006-year:2017
region_id,,,,,,,,,,,,,,,,,,,,,
01001,56.44,56.44,56.44,56.44,56.44,56.46,56.46,56.38,56.37,56.38,...,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.74,56.73
01002,116.82,116.82,117.3,118.39,118.39,118.39,118.39,118.39,118.39,118.4,...,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65,118.65
01003,214.16,214.14,214.14,214.14,214.14,214.14,214.14,214.14,214.14,214.13,...,214.2,214.21,214.21,214.21,214.21,214.21,214.21,214.21,214.21,214.19
01004,71.56,71.56,71.56,71.56,71.56,71.57,71.57,71.63,71.63,71.63,...,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.63,71.66
01051,1436.49,1436.35,1436.35,1433.68,1429.22,1429.37,1428.63,1428.64,1428.18,1428.21,...,1428.04,1428.01,1427.84,1428.09,1428.08,1428.09,1428.12,1428.13,1428.14,1428.17

In [6]:
test('?data=12411:BEVSTD&time=2015:&level=1&layout=region&sort=region')

http://localhost:5000/?data=12411:BEVSTD&time=2015:&level=1&layout=region&sort=region
https://tabular.genesapi.org/?data=12411:BEVSTD&time=2015:&level=1&layout=region&sort=region
Identical shape:  True
columns:
                     local                    prod
0  12411.BEVSTD-year:2015  12411.BEVSTD-year:2015
1  12411.BEVSTD-year:2016  12411.BEVSTD-year:2016
2  12411.BEVSTD-year:2017  12411.BEVSTD-year:2017

,12411.BEVSTD-year:2015,12411.BEVSTD-year:2016,12411.BEVSTD-year:2017
region_id,,,
01,2858714,2881926,2889821
02,1787408,1810438,1830584
03,7926599,7945685,7962775
04,671489,678753,681032
05,17865516,17890100,17912134

In [7]:
test('?data=12411:BEVSTD&time=2015:&level=1&layout=time&sort=region')

http://localhost:5000/?data=12411:BEVSTD&time=2015:&level=1&layout=time&sort=region
https://tabular.genesapi.org/?data=12411:BEVSTD&time=2015:&level=1&layout=time&sort=region
Identical shape:  False

ValueError: arrays must all be same length

In [ ]:
test('?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=1')

In [ ]:
test('?data=82111:BWS005(WZ08SE:INSGESAMT)&layout=region&level=3&sort=region')

In [ ]:
test('?data=82111:BWS005(WZ08SE)&level=3&sort=region')

In [ ]:
test('?data=14344:WAHL01&data=14344:WAHL04&data=14344:WAHLSR&dformat=date')

In [ ]:
test('?data=14344:WAHL01&data=14344:WAHL04(PART03)&data=14344:WAHLSR&sort=time&dformat=date')

In [ ]:
test('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time')

In [ ]:
test('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=region')

In [ ]:
test('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&layout=time')

In [ ]:
test('?data=12613:BEV002(NAT,GES)&time=2017&region=01')

In [ ]:
test('?data=12613:BEV002(NAT,GES)&time=2017&level=3&layout=region')

In [ ]:
test('?data=12613:BEV002(NAT,GES)&time=2017&region=01&labels=name')

In [ ]:
test('?region=14&data=14344:WAHL04(PART03)&data=12511:BEV008(AUFDA1,ALTX04)&time=2009,2011,2014&sort=time&labels=name')

In [ ]:
test('?data=12613:BEV002(NAT,GES)&time=2017&level=1&layout=region&labels=name')

In [ ]:
test('?data=12613:BEV002(NAT,GES)&time=2015:&level=1&layout=time&labels=name')

In [ ]:
test('?data=12511:BEV008(AUFDA1:AUFDA00B08|AUFDA15B20)&labels=name&sort=time')

## JSON

`format=json`

Gibt die Daten (key: `data`) als json (response mimetype: `application/json`) zurück samt metadaten (key: `schema`) zur Tabellenstruktur.

In [ ]:
import json  # for pretty printing
url = LOCAL + '?data=11111:FLC006&time=2017&layout=region&format=json'
print(url)
data = requests.get(url)
print(json.dumps(data.json(), indent=2))